mixin lt(time, title, url, presenter, icon, span, rest)
  tr
    dt.time
      time= time + ' ' + part.abbr
    dd.description(class='span_'+span class=rest ? 'dotted' : '')
      a(href=url)
        h3.title= title
      if icon && presenter
        .presenters
          small.presenter
            = '@' + presenter
          img.icon(src=icon alt=presenter)
