mixin book(id, name, account, icon, title, date, url)
  article.book(id=id+1)
    .introduction
      h2.title
        a(href=url)= title
      p
        svg(version="1.1" style="padding-bottom:4px;" width="18px" height="18px" viewBox="0 0 48.21 48.21" enable-background="new 0 0 54.9 44.5" xml:space="preserve")
          path(fill="#4c3f38" d="M2435.3,771.4a24.3,24.3,0,0,1,0,24.2,24,24,0,0,1-8.8,8.8,24.3,24.3,0,0,1-24.2,0,24,24,0,0,1-8.8-8.8,24.3,24.3,0,0,1,0-24.2,24,24,0,0,1,8.8-8.8,24.3,24.3,0,0,1,24.2,0A24,24,0,0,1,2435.3,771.4Zm-6.1,20.7a17.2,17.2,0,0,0,0-17.1,17,17,0,0,0-6.2-6.2,17.2,17.2,0,0,0-17.1,0,17,17,0,0,0-6.2,6.2,17.2,17.2,0,0,0,0,17.1,17,17,0,0,0,6.2,6.2,17.2,17.2,0,0,0,17.1,0A17,17,0,0,0,2429.2,792.1Zm-10.8-19.6v14.1a1,1,0,0,1-1,1h-10a1,1,0,0,1-1-1v-2a1,1,0,0,1,1-1h7v-11a1,1,0,0,1,1-1h2A1,1,0,0,1,2418.4,772.4Z" transform="translate(-2390.3 -759.4)")
        time= date
      block
    .introducer
      a(href=account)
        img.icon(src="../images/bookclub/" + icon)
      a.name(href=account)= '@' + name
